@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  font-family: 'DungGeunMo';
}

.state {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 650px ;
  position: relative;
}

.background {
  width: 450px;
  height: 450px;
}
.back-img {
  width: 100%;
  height: 100%;
}

.canvas{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: state / 2;
}

.player {
  position: absolute;
  top: 5px;
  left: 30px;
  font-size: 35px;
  color: greenyellow;
}

.score{
  position: absolute;
  top: 40px;
  left: 90px;
  font-size: 35px;
  color: #fff;
}

.highest {
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 35px;
  color: red;
}

.high-score {
  position: absolute;
  top: 40px;
  right: 90px;
  font-size: 35px;
  color: #fff;
}

.game-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 25px;
  font-family: 'DungGeunMo';
  font-size: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-shadow:3px 3px 0px #bdbdbd;
}

.game-btn:hover {
  color: rgb(208, 67, 67);
  /* transform: scale(1.1); */
}

.specifics {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 25px;
  bottom: 260px;
  font-size: 25px;
  text-shadow:3px 3px 0px #bdbdbd;
  cursor: pointer;
  color: #333;
}

.specifics:hover {
  transform: scale(1.1);
}

.how-to-modal {
  position: absolute;
  top: 40%;
  left: 85px;
  display: none;
}

.info-modal {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 430px;
  height: 180px;
}

.modal-back {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  border-radius: 20px;
}

.info-modal-content {
  position: absolute;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 40px;
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 7px;
  padding: 10px 10px;
  cursor: pointer;
  z-index: 10;
}

.close-icon:hover {
  transform: scale(1.3);
  transition: transform 0.5s;
}

.game-over-modal {
  position: absolute;
  display: none;
}

.end-modal {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.end-modal-content {
  font-size: 80px;
  background: linear-gradient(to bottom, #f55105, #FFCC33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.continue {
  color: rgb(87, 84, 84);
  font-size: 40px;
  animation: blink-effect 1s step-end infinite;
}
.restart {
  position: absolute;
  top: 120px;
  left: 110px;
  font-size: 20px;
  padding: 10px 10px;
  cursor: pointer;
}
.end {
  position: absolute;
  top: 120px;
  right: 110px;
  font-size: 20px;
  padding: 10px 10px;
  cursor: pointer;
}

.restart:hover, .end:hover {
  color: #fff;
}

.non-show {
  display: none;
}

.show {
  display: block;
}